fastapi
uvicorn
streamlit
requests
pandas
pillow
pydantic
pydantic-settings
torch
torchvision
torchaudio
ultralytics
paddleocr
paddlepaddle-gpu
PyMuPDF
opencv-python
albumentations
svgwrite
ezdxf
mlflow
pyyaml
pytest
